/* You can add global styles to this file, and also import other style files */

@import "./sass/header";
@import "./sass/footer";
.content {
    width: 80vw;
    max-width: 1600px;
    margin: auto;
}

section.hero {
    position: relative;
    img {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
    h1 {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 100px;
        height: 100px;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        overflow: hidden;
        left: 0;
        right: 0;
        &:first-child span {
            left: 50%;
            transform: translate(-50%, 0) rotate(20deg);
        }
        span {
            position: absolute;
            top: 220px;
            transform: rotate(20deg);
            transform-origin: "bottom 50%";
            &.reve {
                left: 230px;
            }
            &.createur {
                left: 445px;
            }
        }
        &:last-child {
            font-size: 45px;
            span {
                top: 200px;
            }
        }
    }
    h1>div {
        position: relative;
        margin: 0;
    }
    .split-parent {
        overflow: hidden;
    }
    .split-child {
        display: inline-block;
    }
    .text-heading {
        position: absolute;
        bottom: 5vh;
        width: 100vw;
        margin: auto;
        color: white;
    }
}

:root {
    font-size: 16px;
}

@media (max-width: 500px) {
     :root {
        font-size: 14px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #87cd33;
    color: white;
}

body {
    // overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

img {
    width: 100%;
    height: 60vh;
    background: #f0f0f0;
    object-fit: cover;
}

ul {
    padding-left: 1rem;
    list-style: none;
}

li {
    flex-shrink: 0;
    // width: clamp(50px, 30vw, 800px);
    padding-right: 1rem;
}

header {
    height: 100vh;
}

:any-link {
    color: #4e9815;
}

.df {
    display: flex;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    z-index: 1000;
}

.demo-wrapper {
    overflow: hidden;
}

.wrapper {
    display: flex;
}

.demo-gallery:not(.last) {
    padding-bottom: 1rem;
}

.demo-text .text {
    font-size: clamp(5rem, 15vw, 16rem);
    white-space: nowrap;
    line-height: 1;
    font-weight: 900;
    &.subtext {
        font-size: clamp(5rem, 5vw, 16rem);
    }
}

header {
    div.logo img {
        width: auto;
        height: 60vh;
        background-color: transparent;
    }
}

app-comparison-slider {
    overflow-y: hidden;
}

.comparisonContainer {
    overflow: hidden;
}

.liste-projets li {
    padding: 5vh 0;
    .projet {
        margin: auto;
        display: flex;
        position: relative;
        &>div {
            position: sticky;
            overflow: hidden;
            top: 9vh;
            height: 80vh;
            margin-left: 15px;
            width: calc(30vw - 15px);
            display: flex;
            flex-direction: column;
            h1 {
                transform: translate3d(500px, 0px, 0px);
                visibility: hidden;
            }
            div {
                transform: translate3d(0px, 200px, 0px);
                visibility: hidden;
            }
            a {
                transform: translate3d(500px, 0px, 0px);
                margin-top: auto;
            }
        }
    }
}

.comparisonSection {
    position: relative;
    width: 50vw;
    padding-bottom: 80vh;
    overflow: hidden;
    /* to maintain aspect ratio (responsive!) */
}

.comparisonImage {
    width: 100%;
    height: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}

.afterImage img {
    transform: translate(-100%, 0px);
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.button {
    background-color: #a98f56;
    color: white;
    width: fit-content;
    padding: 15px 30px;
}